config MACH_LGE
	bool

menu "LGE Board Selection"

config MACH_APQ8084_LGPC9
	depends on ARCH_APQ8084
	select MACH_LGE
	bool "APQ8084 LGPC9"
	help
	  Support for the Qualcomm APQ8084 LGPC9 device.

config MACH_APQ8084_T6_KR
	depends on ARCH_APQ8084
	select MACH_LGE
	bool "APQ8084 T6 KR"
	help
	  Support for the Qualcomm APQ8084 T6 KR device.

config MACH_APQ8084_T6_LGU
	depends on ARCH_APQ8084
	select MACH_LGE
	bool "APQ8084 T6 LGU"
	help
	  Support for the Qualcomm APQ8084 T6 LGU device.

config MACH_APQ8084_T6_KT
	depends on ARCH_APQ8084
	select MACH_LGE
	bool "APQ8084 T6 KT"
	help
	  Support for the Qualcomm APQ8084 T6 KT device.

config MACH_APQ8084_T6_SKT
	depends on ARCH_APQ8084
	select MACH_LGE
	bool "APQ8084 T6 SKT"
	help
	  Support for the Qualcomm APQ8084 T6 SKT device.

endmenu

config DTS_TARGET
	string "DTS target dir"
	default "apq8084-lgpc9" if MACH_APQ8084_LGPC9
	help
	  CONFIG_DTS_TARGET should be set to support appended dts.
	  ex) CONFIG_DTS_TARGET="apq8084-lgpc9".


menu "LGE Specific Patches"

config LGE_USES_SMD_DS_TTY
	bool "Explicitly use smd tty driver for DS"
	default n
	depends on MSM_SMD_TTY && MACH_LGE
	help
	  In Qualcomm MSM8960, smd tty driver for ds(/dev/smd0) is not used.
	  Say yes if this tty driver must be used on LGE device. This is used
	  to connect smd channel in user space(for example, ATCMD processing).

config DEBUG_USER_INIT
	bool "Print debug messages for init process only"
	default n
	depends on DEBUG_USER
	help
	  Print the init process debug message only.

config LGE_BOOTLOADER_LOG
	tristate "Support LGE bootloader log"
	default n
	depends on MACH_LGE
	help
	  LGE bootloader log

config LGE_HANDLE_PANIC
	tristate "Support LGE Kernel Panic Handler"
	default n
	depends on MACH_LGE
	help
	  LGE Error handler

config LGE_MEMORY_INFO
	bool "Show Additional Memory Information"
	default n
	depends on MACH_LGE
	help
	  If you want to show additional memory information by /proc/meminfo or
	  /proc/zoneinfo, set this setting.
	  This configuration show page size for vmalloc, binder, kgsl, ion, and iommu.

config LGE_LCD_TUNING
	bool "lcd_gamma_tuning"
	default n
	depends on MACH_LGE
	help
	  Support LCD gamma tuning.

config LGE_BOOTLOADER_TIME_CHECKER
	bool "Show bootloader(LK, SBL) time"
	default n
	depends on MACH_LGE
	help
	  This shows the lk and sbl1 booting time in MSM8974.
	  If this feature is enabled, it should be check by adb shell.
	  Device Node : sys/module/lge_bootloader_time_checker/

config LGE_ECO_MODE
	tristate "Support LGE ECO Mode"
	default n
	depends on MACH_LGE
	help
	  LGE ECO mode support

config LGE_ENABLE_MMC_STRENGTH_CONTROL
	bool "Support MMC Strength Control"
	default n
	depends on MACH_LGE
	help
	  LGE mmc data,cmd,clk strength control support

config LGE_BNR_RECOVERY_REBOOT
	bool "Support PC suite BNR recovery reboot"
	default n
	depends on MACH_LGE
	help
	  Support PC suite BNR recovery reboot. bnr recovery mode
	  could be entered with reboot --bnr_recovery cmd.

config LGE_PROBE_TIME_PROFILING
	bool "Support kernel driver probe time profiling"
	default n
	depends on MACH_LGE
	help
	  Support kernel driver probe time profiling.

config LGE_MSM_HSIC_TTY
	bool "LGE HSIC TTY Driver"
	default n
	depends on MACH_LGE
	help
	  Provides a TTY driver HSIC TTY
	  This driver can be used by user space
	  applications for passing data through the
	  HSIC interface.

config LGE_MSM_PCIE
	bool "LGE specific MSM PCIe Controller driver"
	default n
	depends on MACH_LGE && MSM_PCIE
	help
	  Enables the PCIe functionality by configures PCIe core on
	  MSM chipset and by enabling the ARM PCI framework extension.

config LGE_USB_XHCI_MSM_HSIC
	bool "LGE specific HSIC based MSM on-chip XHCI USB controller"
	default n
	depends on MACH_LGE && USB_XHCI_MSM_HSIC
	help
	  Enables support for the HSIC (High Speed Inter-Chip) based
	  USB Host controller present on the Qualcomm chipsets.

config LGE_PSEUDO_CHG_UI
	bool "LGE specific PSEUDO charging UI"
	default n
	depends on MACH_LGE
	help
	  Enable the PSEUDO charging UI.

config LGE_KSWITCH
	tristate "Support LGE Kill Switch"
	default n
	depends on MACH_LGE
	help
	  LGE Kill Switch

endmenu
menu "LGE QFPROM Values"

config LGE_QFPROM_INTERFACE
	bool "Support qfprom interface"
	default n
	depends on MACH_LGE
	help
	  LGE QFPROM DRIVER.

config LGE_QFPROM_SECHASH
	string "Support qfprom sec hash"
	default 0x0
	depends on LGE_QFPROM_INTERFACE
	help
	  LGE QFPROM DRIVER-SEC partition's hash value.
endmenu
