# LGE Broadcast Device Driver Support

menu "LGE Broadcast Device Support"

config LGE_BROADCAST_TDMB
	bool "LGE broadcast TDMB device Driver"
	depends on (MACH_APQ8084_T6_KR)
	default y
	help
	  Select this if you want to use TDMB broadcast service

source "drivers/broadcast/tdmb/Kconfig"
endmenu
