config MACH_LGE
	bool "Machine LGE"
	help
	  Support for machine LGE.

menu "LGE Specific Patches"

config LGE_PM_UNIFIED_NODE
	bool "enable LGE PM Unified sysfs node"
	help
	  Support LGE PM Unified sysfs node

endmenu
